<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="gost-profil">Profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="gost-restorani">Restorani</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="gost-rezervacije">Rezervacije</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="gost-dostavahrane">Dostava hrane</a>
    </li>
  </ul>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
